@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #26335D;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.Navcontainer{
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 10px 15px 20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.w-20{
    max-width: 20%;
    width: 20%;
}
.w-80{
    max-width: 80%;
    width: 80%;
}

.w-28{
    max-width: 28%;
    width: 28%;
}

.w-33{
    max-width: 33%;
    width: 33%;
}

.w-36{
    max-width: 36%;
    width: 36%;
}

.w-40{
    max-width: 40%;
    width: 40%;
}
.w-50{
    width: 50%;
}

.w-60{
    max-width: 60%;
    width: 60%;
}
.w-64{
    max-width: 64%;
    width: 64%;
}


.w-100{
    width: 100%;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.navSection{
    /* background-image: url('./asset/images/bg-right.png'),url('./asset/images/bg-left.png');
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 0%;
    background-size: 62%,32%; */
    background-image: url('./asset/images/heroBg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.menuItems ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.menuItems ul li a:hover{
    border-bottom: 2px solid #FC724D;
}

.menuItems ul li a, .menuBtns a{
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 400;
}

.joinBtn{
    background-color: #FC724D;
    padding: 15px 25px;
    margin-left: 30px;
    border-radius: 4px;
}

.joinBtn i{
    padding-left: 10px;
}

.heroContent{
    padding: 0 25px;
}

.heroContent h5{
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.heroContent h1{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    font-family: "Montserrat", serif;
    margin: 30px 0;
    color: #fff;
}

.heroContent .heroContentText{
    max-width: 370px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 30px;
    color: #fff;
}

.heroBtn {
    margin-top: 30px;
  }

.heroBtn a{
    padding: 15px 40px;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.heroBtn a:first-child{
    background-color: #FC724D;
    border-radius: 4px;
}

.heroBtn a:last-child{
    border: 1px solid #FC724D;
    border-radius: 4px;
    margin-left: 10px;
}

.heroBtn a:last-child:hover{
    background-color: #FC724D;
}

section.ourImpression {
    text-align: center;
    padding: 150px 0;
}

.impressionTextContent h6{
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    color: #FC724D;
}

.h2Heading{
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    color: #fff;
    margin: 10px 0;
}
.impressionTextContent p{
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #fff;
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
    line-height: 24px;
}

.marginTop {
    margin-top: 80px;
}

.featuresBoxContent{
    background-color: #fff;
    padding: 35px 40px;
    margin: 0 10px;
}

.featuresBoxContent h4{
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: #252B42;
    margin: 15px 0;
}

.featuresBoxContent h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #FC724D;
    margin: 20px auto;
}


.featuresBoxContent p{
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #737373;
    margin: 0 auto;
    max-width: 180px;
    width: 100%;
}

.departSection{
    padding: 150px 0;
}

.departText{
    max-width: 380px;
    width: 100%;
}

.departText h2:before{
    content: '';
    display: block;
    width: 94px;
    height: 7px;
    background-color: #FC724D;
    margin-bottom: 40px;
}

.departText p:nth-child(2) {
    color: #fff;
    max-width: 360px;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    margin: 25px 0;
    line-height: 24px;
}

.departText p:last-child a{
    text-decoration: none;
    color: #FC724D;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 400;
}


.productCard {
    margin: 0 10px;
}

.productImage {
    position: relative;
    line-height: 0;
    max-width: 340px;
    width: 100%;
}

.productImage img{
    max-width: 340px;
    width: 100%;
}

.productFeatureBtn {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
}

.productFeatureBtn a img{
    width: 20px;
    height: 20px;
}

.productFeatureBtn a {
    display: inline-flex;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
    line-height: 0;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}



.saletag span{
    background-color: #E74040;
    padding: 0 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}

.saletag {
    position: absolute;
    top: 20px;
    left: 20px;
}

.productContent{
    padding: 25px 25px 35px 25px;
    background-color: #fff;
    max-width: 340px;
    width: 100%;
    text-align: left;
    height: 100%;
}

.productContent .row{
    justify-content: space-between;
}

.departName h3{
    color: #E74040;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 700;
}

.rating span {
    font-size: 12px;
    background-color: #26335D;
    font-family: "Montserrat", serif;
    font-weight: 400;
    color: #fff;
    padding: 5px 6px;
    border-radius: 20px;
}

.rating span i{
    color: #FFCE31;
    margin-right: 2px;
}

.dental {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.productText h3{
    color: #252B42;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 16px;
    margin: 15px 0;
}

.productText p {
    color: #737373;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0;
}

.productText p span{
    font-weight: 700;
    color: #737373 !important;
}

.productText p span:first-child{
    color: #BDBDBD;
    margin-right: 3px;
}

.productText p span:nth-child(2){
    color: #0061FF !important;
}

.productDetailBtn a{
    text-decoration: none;
    color: #FC724D;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #FC724D;
    padding: 10px 20px;
    border-radius: 37px;
    display: inline-block;
}

.faqParent {
    max-width: 333px;
    width: 100%;
    margin: 15px;
}

.faqContent{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
}

.faqContent .row{
    flex-wrap: nowrap;
    align-items: start;
}

.faqicon i{
    color: #FC724D;
    font-size: 20px;
}

.faqText {
    margin: 0 15px;
}

.faqText h5{
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
    color: #252B42;
    line-height: 24px;
}
.faqText p{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    margin-top: 5px;
    line-height: 24px;
}

.align-items-normal{
    align-items: normal;
}

.newsLetter{
    padding: 230px 0 60px;
}

.newsletterField {
    margin: 80px 0;
}

.newsletterField input{
    max-width: 550px;
    width: 100%;
    padding: 18px 20px;
    border-radius: 5px 0px 0px 5px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
}
.newsletterField input:focus{
    outline: none;
}
.newsletterField input::placeholder{
    color: #737373;
    font-weight: 600;
}

.newsletterField button{
    padding: 18px 20px;
    border-radius: 0 5px 5px 0px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background-color: #FC724D;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}
.newsletterField  .form-group {
    position: relative;
    display: flex
;
    justify-content: center;
}

.clientSection{
    padding: 220px 0 200px;
    text-align: center;
}

.clientParent{
    max-width: 480px;
    width: 100%;
    margin: 0 8px;
}

.clientBox{
    padding: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.clientBox p {
    max-width: 160px;
    width: 100%;
    margin: 25px auto 20px;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", serif;
}

.reviewIcons .fa-solid.fa-star{
    color: #F3CD03;
}

.reviewIcons .fa-regular.fa-star{
    color: #F3CD03;
}

.clientBox h5{
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    margin: 20px 0 10px;
}

.clientBox h6{
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 700;
    color:#737373;
}

.upperConatiner{
    background-color: #FFFFFF;
}

.footerLinks h5{
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;
    color: #252B42;
    margin-bottom: 20px;
}

.footerLinks ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

.footerLinks ul li a{
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 500;
    color:#737373;

}

.footerFirstRow{
    padding: 50px 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footerSecondRow{
    padding: 25px 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footerColumn{
    max-width: 15%;
    width: 100%;
    padding: 0 10px;
}

.footerColumnLast{
    max-width: 40%;
    width: 100%;
}

.footerContact ul li a img{
    vertical-align: middle;
}
.footerContact ul li{
    margin-bottom: 6px;
}

.lowerContainer{
    background-color: #FAFAFA;
}
.copyRight{
    max-width: 75%;
    width: 100%;
}

.copyRight p{
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 600;
    color:#737373;
}

.socialIcons{
    max-width: 25%;
    width: 100%;
}

.socialIcons span{
    margin: 0 10px;
}

.socialIcons span a{
    color: #FC724D;
    font-size: 24px;
}

.sidebar,.menuBtn{
    display: none;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #FC724D; /* Black*/
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.menuBtn{
    display: none;
    cursor: pointer;
    text-align: right;
}
.menuIcon{
    font-size: 25px;
    color: #fff;
}

.closeMenu{
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
}